<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite V-Bucks Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div id="basket-items">
            <!-- Items will be dynamically loaded here by JavaScript -->
        </div>
        <div class="total-price">
            Total Price: <span id="total-price">0</span> UAH
        </div>
        <button type="button" id="checkout-button">Checkout</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
